<h1>Estadísticas:</h1>
<p>Numero de preguntas: <%= numPreg %></p>
<p>Numero de comentarios: <%= numComments %></p>
<p>Media de comentarios por pregunta: <%= media %></p>
<p>Numero de preguntas sin comentarios: <%= numPregSinCom %></p>
<p>Numero de preguntas con comentarios: <%= numPredConComments %></p>
